build/*
uchicagoldrcampubvalidation/__pycache__/*
bin/__pycache__/*
uchicagoldrcampubvalidation/*pyc
bin/*pyc
bin/#*#
bin/*#*
uchicagoldrcampubvalidation/#*$
uchicagoldrcampubvalidation/*#*
uchicagoldrcampubvalidation/*~
bin/*~
#*#
*~
env/*
.DS_Store
uchicagoldrcampubvalidation/symlinksaudit/*json
